.sidebarLeft
{
    width: 40vh;
    height: 100vh;
    background-color: #0B846E;
    margin:40px 10px 20px 20px;
}

.sidebarL
{
    background-color: #0B846E;
}
.Menu ul li 
{
    list-style-type: none;
    font-size: 18px;
   
}
.Menu li a 
{
    color:white;
    display: flex;
    padding:10px;
}
 